1. Loading the Dataset

In [71]:
import pandas as pd
df = pd.read_csv('fifa_players.csv')
df

,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
0,L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,"CF,RW,ST",Argentina,94,94,...,94,48,22,94,94,75,96,33,28,26
1,C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27,154.94,76.2,"CAM,RM,CM",Denmark,88,89,...,89,46,56,84,91,67,88,59,57,22
2,P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,"CM,CAM",France,88,91,...,82,78,64,82,88,82,87,63,67,67
3,L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,"LW,ST",Italy,88,88,...,84,34,26,83,87,61,83,51,24,22
4,K. Koulibaly,Kalidou Koulibaly,6/20/1991,27,187.96,88.9,CB,Senegal,88,91,...,15,87,88,24,49,33,80,91,88,87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17949,R. McKenzie,Rory McKenzie,10/7/1993,25,175.26,74.8,"RM,CAM,CM",Scotland,67,70,...,54,69,41,60,64,63,56,40,20,18
17950,M. Sipľak,Michal Sipľak,2/2/1996,23,182.88,79.8,LB,Slovakia,59,67,...,22,62,55,42,39,32,52,53,64,60
17951,J. Bekkema,Jan Bekkema,4/9/1996,22,185.42,89.8,GK,Netherlands,59,67,...,9,27,10,5,25,16,47,9,12,13
17952,A. Al Yami,Abdulrahman Al Yami,6/19/1997,21,175.26,64.9,"ST,LM",Saudi Arabia,59,71,...,58,38,15,54,52,50,53,16,18,17
17953,Júnior Brumado,José Francisco dos Santos Júnior,5/15/1999,19,190.50,79.8,ST,Brazil,59,75,...,53,67,20,53,49,52,45,23,31,21

In [73]:
df.head(10)

,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
0,L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,"CF,RW,ST",Argentina,94,94,...,94,48,22,94,94,75,96,33,28,26
1,C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27,154.94,76.2,"CAM,RM,CM",Denmark,88,89,...,89,46,56,84,91,67,88,59,57,22
2,P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,"CM,CAM",France,88,91,...,82,78,64,82,88,82,87,63,67,67
3,L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,"LW,ST",Italy,88,88,...,84,34,26,83,87,61,83,51,24,22
4,K. Koulibaly,Kalidou Koulibaly,6/20/1991,27,187.96,88.9,CB,Senegal,88,91,...,15,87,88,24,49,33,80,91,88,87
5,V. van Dijk,Virgil van Dijk,7/8/1991,27,193.04,92.1,CB,Netherlands,88,90,...,64,82,88,41,60,62,87,90,89,84
6,K. Mbappé,Kylian Mbappé,12/20/1998,20,152.40,73.0,"RW,ST,RM",France,88,95,...,78,62,38,88,82,70,86,34,34,32
7,S. Agüero,Sergio Leonel Agüero del Castillo,6/2/1988,30,172.72,69.9,ST,Argentina,89,89,...,83,65,24,92,83,83,90,30,20,12
8,M. Neuer,Manuel Neuer,3/27/1986,32,193.04,92.1,GK,Germany,89,89,...,16,29,30,12,70,47,70,17,10,11
9,E. Cavani,Edinson Roberto Cavani Gómez,2/14/1987,32,185.42,77.1,ST,Uruguay,89,89,...,79,84,48,93,77,85,82,52,45,39

In [75]:
df.shape

(17954, 51)

In [80]:
df.columns

Index(['name', 'full_name', 'birth_date', 'age', 'height_cm', 'weight_kgs',
       'positions', 'nationality', 'overall_rating', 'potential', 'value_euro',
       'wage_euro', 'preferred_foot', 'international_reputation(1-5)',
       'weak_foot(1-5)', 'skill_moves(1-5)', 'body_type',
       'release_clause_euro', 'national_team', 'national_rating',
       'national_team_position', 'national_jersey_number', 'crossing',
       'finishing', 'heading_accuracy', 'short_passing', 'volleys',
       'dribbling', 'curve', 'freekick_accuracy', 'long_passing',
       'ball_control', 'acceleration', 'sprint_speed', 'agility', 'reactions',
       'balance', 'shot_power', 'jumping', 'stamina', 'strength', 'long_shots',
       'aggression', 'interceptions', 'positioning', 'vision', 'penalties',
       'composure', 'marking', 'standing_tackle', 'sliding_tackle'],
      dtype='object')

2. Data Exploration

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17954 entries, 0 to 17953
Data columns (total 51 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   name                           17954 non-null  object
 1   full_name                      17954 non-null  object
 2   birth_date                     17954 non-null  object
 3   age                            17954 non-null  int64
 4   height_cm                      17954 non-null  float64
 5   weight_kgs                     17954 non-null  float64
 6   positions                      17954 non-null  object
 7   nationality                    17954 non-null  object
 8   overall_rating                 17954 non-null  int64
 9   potential                      17954 non-null  int64
 10  value_euro                     17699 non-null  float64
 11  wage_euro                      17708 non-null  float64
 12  preferred_foot                 17954 non-null  object
 13  international_reputation(1-5)  17954 non-null  int64
 14  weak_foot(1-5)                 17954 non-null  int64
 15  skill_moves(1-5)               17954 non-null  int64
 16  body_type                      17954 non-null  object
 17  release_clause_euro            16117 non-null  float64
 18  national_team                  857 non-null    object
 19  national_rating                857 non-null    float64
 20  national_team_position         857 non-null    object
 21  national_jersey_number         857 non-null    float64
 22  crossing                       17954 non-null  int64
 23  finishing                      17954 non-null  int64
 24  heading_accuracy               17954 non-null  int64
 25  short_passing                  17954 non-null  int64
 26  volleys                        17954 non-null  int64
 27  dribbling                      17954 non-null  int64
 28  curve                          17954 non-null  int64
 29  freekick_accuracy              17954 non-null  int64
 30  long_passing                   17954 non-null  int64
 31  ball_control                   17954 non-null  int64
 32  acceleration                   17954 non-null  int64
 33  sprint_speed                   17954 non-null  int64
 34  agility                        17954 non-null  int64
 35  reactions                      17954 non-null  int64
 36  balance                        17954 non-null  int64
 37  shot_power                     17954 non-null  int64
 38  jumping                        17954 non-null  int64
 39  stamina                        17954 non-null  int64
 40  strength                       17954 non-null  int64
 41  long_shots                     17954 non-null  int64
 42  aggression                     17954 non-null  int64
 43  interceptions                  17954 non-null  int64
 44  positioning                    17954 non-null  int64
 45  vision                         17954 non-null  int64
 46  penalties                      17954 non-null  int64
 47  composure                      17954 non-null  int64
 48  marking                        17954 non-null  int64
 49  standing_tackle                17954 non-null  int64
 50  sliding_tackle                 17954 non-null  int64
dtypes: float64(7), int64(35), object(9)
memory usage: 7.0+ MB

In [87]:
df.sample(5)

,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
6143,M. Kokos,Marvin Kokos,10/12/2000,18,182.88,78.0,ST,France,57,70,...,51,40,23,56,51,70,51,31,23,21
2867,J. Pohl,Jannik Pohl,4/6/1996,22,182.88,77.1,ST,Denmark,65,76,...,52,58,24,72,50,66,54,50,32,22
5009,A. Perea,Andrés Perea,11/14/2000,18,182.88,73.0,CM,Colombia,50,73,...,30,55,44,34,51,44,42,49,39,54
688,Dória,Matheus Dória Macedo,11/8/1994,24,187.96,82.1,CB,Brazil,74,78,...,40,83,69,48,43,35,68,74,76,73
8899,J. Bonham,Jack Bonham,9/14/1993,25,193.04,94.8,GK,Republic of Ireland,63,68,...,12,22,22,13,45,16,60,25,11,11

In [89]:
df.isnull().sum()

name                                 0
full_name                            0
birth_date                           0
age                                  0
height_cm                            0
weight_kgs                           0
positions                            0
nationality                          0
overall_rating                       0
potential                            0
value_euro                         255
wage_euro                          246
preferred_foot                       0
international_reputation(1-5)        0
weak_foot(1-5)                       0
skill_moves(1-5)                     0
body_type                            0
release_clause_euro               1837
national_team                    17097
national_rating                  17097
national_team_position           17097
national_jersey_number           17097
crossing                             0
finishing                            0
heading_accuracy                     0
short_passing                        0
volleys                              0
dribbling                            0
curve                                0
freekick_accuracy                    0
long_passing                         0
ball_control                         0
acceleration                         0
sprint_speed                         0
agility                              0
reactions                            0
balance                              0
shot_power                           0
jumping                              0
stamina                              0
strength                             0
long_shots                           0
aggression                           0
interceptions                        0
positioning                          0
vision                               0
penalties                            0
composure                            0
marking                              0
standing_tackle                      0
sliding_tackle                       0
dtype: int64

In [91]:
df.columns

Index(['name', 'full_name', 'birth_date', 'age', 'height_cm', 'weight_kgs',
       'positions', 'nationality', 'overall_rating', 'potential', 'value_euro',
       'wage_euro', 'preferred_foot', 'international_reputation(1-5)',
       'weak_foot(1-5)', 'skill_moves(1-5)', 'body_type',
       'release_clause_euro', 'national_team', 'national_rating',
       'national_team_position', 'national_jersey_number', 'crossing',
       'finishing', 'heading_accuracy', 'short_passing', 'volleys',
       'dribbling', 'curve', 'freekick_accuracy', 'long_passing',
       'ball_control', 'acceleration', 'sprint_speed', 'agility', 'reactions',
       'balance', 'shot_power', 'jumping', 'stamina', 'strength', 'long_shots',
       'aggression', 'interceptions', 'positioning', 'vision', 'penalties',
       'composure', 'marking', 'standing_tackle', 'sliding_tackle'],
      dtype='object')

In [95]:
df['nationality'].unique()

array(['Argentina', 'Denmark', 'France', 'Italy', 'Senegal',
       'Netherlands', 'Germany', 'Uruguay', 'Spain', 'Belgium', 'Egypt',
       'Slovakia', 'Brazil', 'Croatia', 'Costa Rica', 'Colombia',
       'Morocco', 'Portugal', 'Sweden', 'Bosnia Herzegovina', 'Mexico',
       'England', 'Austria', 'Iceland', 'Hungary', 'Wales', 'Ukraine',
       'Central African Rep.', 'Serbia', 'Ivory Coast', 'Cameroon',
       'Paraguay', 'Australia', 'Algeria', 'Romania', 'Russia', 'Israel',
       'Switzerland', 'Chile', 'Tunisia', 'Turkey', 'Nigeria', 'Peru',
       'Norway', 'Greece', 'United States', 'Venezuela', 'Iran',
       'Equatorial Guinea', 'Cape Verde', 'Tanzania', 'Scotland',
       'China PR', 'Kosovo', 'Montenegro', 'Canada', 'Madagascar', 'Mali',
       'Ghana', 'Guinea', 'Poland', 'Cuba', 'Northern Ireland', 'Japan',
       'New Zealand', 'South Africa', 'Republic of Ireland', 'Ecuador',
       'Burkina Faso', 'Czech Republic', 'Slovenia', 'Belarus', 'Gabon',
       'FYR Macedonia', 'Curacao', 'DR Congo', 'Honduras', 'Sierra Leone',
       'Guinea Bissau', 'Saudi Arabia', 'Fiji', 'Korea Republic',
       'Zambia', 'Syria', 'Armenia', 'Georgia', 'Angola', 'Zimbabwe',
       'Congo', 'Eritrea', 'Iraq', 'Albania', 'Bolivia', 'Gambia',
       'Jamaica', 'Burundi', 'Uganda', 'Benin', 'Suriname', 'Finland',
       'Lithuania', 'Togo', 'El Salvador', 'Korea DPR', 'Panama',
       'Moldova', 'Haiti', 'Comoros', 'Azerbaijan', 'Trinidad & Tobago',
       'Liberia', 'Bulgaria', 'Kenya', 'Chad', 'Faroe Islands',
       'Kazakhstan', 'Estonia', 'Montserrat', 'Dominican Republic',
       'Thailand', 'India', 'Andorra', 'Sudan', 'Hong Kong', 'Malta',
       'Afghanistan', 'Uzbekistan', 'Palestine', 'Yemen', 'Luxembourg',
       'Mauritania', 'Indonesia', 'Bermuda', 'Grenada', 'Philippines',
       'Liechtenstein', 'Guyana', 'St Kitts Nevis', 'Antigua & Barbuda',
       'Cyprus', 'Rwanda', 'South Sudan', 'Papua New Guinea', 'Latvia',
       'Vietnam', 'Nicaragua', 'Ethiopia', 'Barbados', 'Jordan',
       'St Lucia', 'Guatemala', 'Namibia', 'Guam', 'Mozambique', 'Kuwait',
       'Libya', 'New Caledonia', 'Oman', 'São Tomé & Príncipe',
       'United Arab Emirates'], dtype=object)

In [99]:
df['nationality'].value_counts()

nationality
England                 1658
Germany                 1199
Spain                   1070
France                   925
Argentina                904
                        ...
Papua New Guinea           1
South Sudan                1
Malta                      1
Yemen                      1
United Arab Emirates       1
Name: count, Length: 160, dtype: int64

In [105]:
df['name']

0              L. Messi
1            C. Eriksen
2              P. Pogba
3            L. Insigne
4          K. Koulibaly
              ...
17949       R. McKenzie
17950         M. Sipľak
17951        J. Bekkema
17952        A. Al Yami
17953    Júnior Brumado
Name: name, Length: 17954, dtype: object

In [121]:
df[['name','positions']]

                 name  positions
0            L. Messi   CF,RW,ST
1          C. Eriksen  CAM,RM,CM
2            P. Pogba     CM,CAM
3          L. Insigne      LW,ST
4        K. Koulibaly         CB
...               ...        ...
17949     R. McKenzie  RM,CAM,CM
17950       M. Sipľak         LB
17951      J. Bekkema         GK
17952      A. Al Yami      ST,LM
17953  Júnior Brumado         ST

[17954 rows x 2 columns]

In [127]:
df[df['age'] > 32]

,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
17,Fernandinho,Fernando Luiz Rosa,5/4/1985,33,152.40,67.1,CDM,Brazil,87,87,...,78,87,89,70,75,61,79,87,86,80
45,Iniesta,Andrés Iniesta Luján,5/11/1984,34,170.18,68.0,"CM,LM",Spain,85,85,...,70,58,65,78,93,71,89,68,57,56
46,Z. Ibrahimović,Zlatan Ibrahimović,10/3/1981,37,195.58,94.8,ST,Sweden,85,85,...,82,84,20,85,79,89,90,28,37,24
75,Juiano Mestres,Juan Everton Mestres de Mesquita,2/29/1984,35,154.94,82.1,"CB,CDM",Brazil,82,82,...,61,86,82,58,50,62,70,77,85,84
79,M. Parolo,Marco Parolo,1/25/1985,34,182.88,74.8,"CDM,CM",Italy,82,82,...,86,80,80,82,78,45,78,78,80,82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17930,G. Chiellini,Giorgio Chiellini,8/14/1984,34,187.96,84.8,CB,Italy,90,90,...,49,92,88,28,50,50,84,94,93,90
17932,David Silva,David Josué Jiménez Silva,1/8/1986,33,172.72,67.1,"CAM,CM",Spain,90,90,...,75,57,50,89,92,75,93,59,53,29
17933,D. Godín,Diego Godín,2/16/1986,33,187.96,78.0,CB,Uruguay,90,90,...,43,89,88,48,52,50,82,90,89,89
17939,L. Modrić,Luka Modrić,9/9/1985,33,172.72,66.2,CM,Croatia,91,91,...,82,62,83,79,92,82,90,68,76,73
17944,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,2/5/1985,34,187.96,83.0,"ST,LW",Portugal,94,94,...,93,63,29,95,82,85,95,28,31,23

In [133]:
df[df['nationality'] == 'Spain']

,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
10,Sergio Busquets,Sergio Busquets i Burgos,7/16/1988,30,187.96,76.2,"CDM,CM",Spain,89,89,...,54,85,87,77,87,60,93,90,86,80
24,Jordi Alba,Jordi Alba Ramos,3/21/1989,29,170.18,68.0,LB,Spain,87,87,...,66,77,84,80,76,59,82,74,84,84
25,Thiago,Thiago Alcântara do Nascimento,4/11/1991,27,175.26,69.9,"CM,CAM,CDM",Spain,87,87,...,79,56,78,79,86,75,85,67,67,71
28,Isco,Francisco Román Alarcón Suárez,4/21/1992,26,175.26,78.9,"CAM,CM,LW",Spain,87,90,...,85,58,64,78,86,76,86,60,64,51
32,Kepa,Kepa Arrizabalaga,10/3/1994,24,185.42,84.8,GK,Spain,84,90,...,14,18,21,15,55,24,63,19,18,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17903,Azpilicueta,César Azpilicueta Tanco,8/28/1989,29,152.40,76.2,"RB,CB",Spain,86,86,...,60,82,89,62,74,66,78,88,90,86
17920,Piqué,Gerard Piqué Bernabéu,2/2/1987,32,193.04,84.8,CB,Spain,88,88,...,51,76,88,64,70,69,89,91,87,85
17931,Sergio Ramos,Sergio Ramos García,3/30/1986,32,182.88,82.1,CB,Spain,90,90,...,62,90,88,67,69,82,84,87,89,90
17932,David Silva,David Josué Jiménez Silva,1/8/1986,33,172.72,67.1,"CAM,CM",Spain,90,90,...,75,57,50,89,92,75,93,59,53,29
17942,De Gea,David De Gea Quintana,11/7/1990,28,193.04,76.2,GK,Spain,91,93,...,12,38,30,12,68,40,70,25,21,13

In [151]:
df[(df['nationality'] == 'Argentina') & (df['overall_rating'] > 85)]

,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
0,L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,"CF,RW,ST",Argentina,94,94,...,94,48,22,94,94,75,96,33,28,26
7,S. Agüero,Sergio Leonel Agüero del Castillo,6/2/1988,30,172.72,69.9,ST,Argentina,89,89,...,83,65,24,92,83,83,90,30,20,12
15,P. Dybala,Paulo Bruno Exequiel Dybala,11/15/1993,25,152.40,74.8,"CAM,RW",Argentina,89,94,...,88,48,32,84,87,86,84,23,20,20
18,G. Higuaín,Gonzalo Gerardo Higuaín,12/10/1987,31,185.42,88.9,ST,Argentina,87,87,...,80,50,20,92,74,70,86,35,22,18
31,M. Icardi,Mauro Emanuel Icardi Rivero,2/19/1993,26,154.94,74.8,ST,Argentina,87,90,...,70,56,22,92,64,82,85,45,24,20

In [147]:
df.sort_values(by='overall_rating', ascending=False)

,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
0,L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,"CF,RW,ST",Argentina,94,94,...,94,48,22,94,94,75,96,33,28,26
17944,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,2/5/1985,34,187.96,83.0,"ST,LW",Portugal,94,94,...,93,63,29,95,82,85,95,28,31,23
17943,Neymar Jr,Neymar da Silva Santos Junior,2/5/1992,27,175.26,68.0,"LW,CAM",Brazil,92,92,...,82,56,36,89,88,81,94,27,24,33
17939,L. Modrić,Luka Modrić,9/9/1985,33,172.72,66.2,CM,Croatia,91,91,...,82,62,83,79,92,82,90,68,76,73
17942,De Gea,David De Gea Quintana,11/7/1990,28,193.04,76.2,GK,Spain,91,93,...,12,38,30,12,68,40,70,25,21,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4877,O. Antman,Oliver Antman,8/1/2001,17,152.40,67.1,CM,Finland,47,68,...,36,48,36,49,43,40,38,41,28,28
4878,I. Häggman,Isac Häggman,1/9/2002,17,152.40,69.9,"ST,CAM",Sweden,47,65,...,38,33,13,47,45,42,42,19,22,20
4880,J. Milli,Joakim Milli,4/27/2000,18,182.88,78.0,GK,Italy,47,65,...,5,17,5,3,28,16,23,6,10,11
4881,K. Catalán,Kevin Catalán,4/2/1999,19,152.40,68.9,GK,Chile,47,62,...,7,16,14,5,31,10,29,6,14,13
4879,S. Griffin,Shane Griffin,12/31/1999,19,172.72,64.0,CM,Republic of Ireland,47,67,...,30,51,35,47,40,35,41,44,37,48

In [157]:
df.rename(columns={'overall_rating': 'Rating'}, inplace=True)

In [161]:
df.sort_values(by='Rating', ascending=False)

,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,Rating,potential,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
0,L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,"CF,RW,ST",Argentina,94,94,...,94,48,22,94,94,75,96,33,28,26
17944,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,2/5/1985,34,187.96,83.0,"ST,LW",Portugal,94,94,...,93,63,29,95,82,85,95,28,31,23
17943,Neymar Jr,Neymar da Silva Santos Junior,2/5/1992,27,175.26,68.0,"LW,CAM",Brazil,92,92,...,82,56,36,89,88,81,94,27,24,33
17939,L. Modrić,Luka Modrić,9/9/1985,33,172.72,66.2,CM,Croatia,91,91,...,82,62,83,79,92,82,90,68,76,73
17942,De Gea,David De Gea Quintana,11/7/1990,28,193.04,76.2,GK,Spain,91,93,...,12,38,30,12,68,40,70,25,21,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4877,O. Antman,Oliver Antman,8/1/2001,17,152.40,67.1,CM,Finland,47,68,...,36,48,36,49,43,40,38,41,28,28
4878,I. Häggman,Isac Häggman,1/9/2002,17,152.40,69.9,"ST,CAM",Sweden,47,65,...,38,33,13,47,45,42,42,19,22,20
4880,J. Milli,Joakim Milli,4/27/2000,18,182.88,78.0,GK,Italy,47,65,...,5,17,5,3,28,16,23,6,10,11
4881,K. Catalán,Kevin Catalán,4/2/1999,19,152.40,68.9,GK,Chile,47,62,...,7,16,14,5,31,10,29,6,14,13
4879,S. Griffin,Shane Griffin,12/31/1999,19,172.72,64.0,CM,Republic of Ireland,47,67,...,30,51,35,47,40,35,41,44,37,48

In [171]:
df['Age_Rating'] = df['age'] * df['Rating']

In [173]:
df.groupby('nationality')['Rating'].mean()

nationality
Afghanistan    61.333333
Albania        66.380952
Algeria        70.866667
Andorra        62.000000
Angola         68.846154
                 ...
Vietnam        62.000000
Wales          64.246154
Yemen          58.000000
Zambia         65.400000
Zimbabwe       69.153846
Name: Rating, Length: 160, dtype: float64

In [175]:
df.groupby(['nationality', 'age']).size()

nationality  age
Afghanistan  21     1
             22     1
             27     1
Albania      19     3
             20     2
                   ..
Zimbabwe     25     2
             27     2
             28     2
             31     1
             33     2
Length: 1731, dtype: int64

In [177]:
df['Rating'].agg(['mean', 'min', 'max'])

mean    66.240169
min     47.000000
max     94.000000
Name: Rating, dtype: float64

In [179]:
df[['age', 'Rating']].agg(['mean', 'std'])

            age     Rating
mean  25.565445  66.240169
std    4.705708   6.963730

Let's visualize our data using matplotlib///

In [189]:
import matplotlib.pyplot as plt

In [195]:
df['age'].hist()
df['age'].hist()
plt.title('Distribution of Players Ages')
plt.xlabel('age')
plt.ylabel('Frequency')
plt.show()

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\samir\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\samir\AppData\Local\Temp\ipykernel_13788\2703049496.py", line 1, in <module>
    df['age'].hist()
  File "C:\Users\samir\anaconda3\Lib\site-packages\pandas\plotting\_core.py", line 124, in hist_series
    >>> lst = ['a', 'a', 'a', 'b', 'b', 'b']
               ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\samir\anaconda3\Lib\site-packages\pandas\plotting\_core.py", line 1947, in _get_plot_backend
  File "C:\Users\samir\anaconda3\Lib\site-packages\pandas\plotting\_core.py", line 1877, in _load_backend
    ) from None
ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\samir\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\samir\anaconda3\Lib\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\samir\anaconda3\Lib\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\samir\anaconda3\Lib\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\samir\anaconda3\Lib\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
                  ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\samir\anaconda3\Lib\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
    ^^^^^^^^^^^^^^^^
  File "C:\Users\samir\anaconda3\Lib\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
           ^^^^^^^^^^^^^^
  File "C:\Users\samir\anaconda3\Lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "C:\Users\samir\anaconda3\Lib\site-packages\stack_data\core.py", line 698, in lines
    pieces = self.included_pieces
             ^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\samir\anaconda3\Lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "C:\Users\samir\anaconda3\Lib\site-packages\stack_data\core.py", line 649, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
                             ^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\samir\anaconda3\Lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "C:\Users\samir\anaconda3\Lib\site-packages\stack_data\core.py", line 628, in executing_piece
    return only(
           ^^^^^
  File "C:\Users\samir\anaconda3\Lib\site-packages\executing\executing.py", line 164, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0